<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home page{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/framework/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-4.4.1/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/main/css/style.css') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">
        <i class="fa fa-microchip" aria-hidden="true"></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Главная <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_home') }}" class="btn btn-outline-success my-2 my-sm-0"
                   type="submit">Админка</a>
            {% elseif is_granted('IS_AUTHENTICATED_FULLY') and not is_granted('ROLE_ADMIN') %}
                <a href="#" class="btn btn-outline-success my-2 mr-2 my-sm-0" type="submit">Профиль</a>
                <a href="{{ path('app_logout') }}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Выйти</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</a>
                <a href="{{ path('register') }}" class="btn btn-outline-success my-2 ml-2 my-sm-0" type="submit">Регистрация</a>
            {% endif %}
        </form>
    </div>
</nav>
{% block body %}{% endblock %}

{% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="{{ asset('assets/framework/vue/vue.js') }}"></script>
    <script src="{{ asset('assets/framework/bootstrap-4.4.1/js/bootstrap.min.js') }}"></script>
    {% block addJs %}{% endblock %}
{% endblock %}
</body>
</html>
